<mat-drawer-container class="sidenav-container">
    <mat-drawer mode="side" opened class="drawer-container">
        <div class="filter-container">
            <span class="title">Фильтр</span>
            <div class="filters">
                <div class="filter-title">
                    Образование
                </div>
                <div class="filter-title">
                    Опыт
                </div>
                <div class="filter-title">
                    Hard skills
                </div>
                <div class="filter-title">
                    Soft skills
                </div>
                <div class="filter-title">
                    Project skills
                </div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="grade-list">
            @for (grade of grades; track grade) {
                <app-grade [grade]="grade" (click)="openGradeInfo(grade)"></app-grade>
            }
        </div>
    </mat-drawer-content>
</mat-drawer-container>