.grade-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
    justify-content: center;
    gap: 1rem;
}

.sidenav-container {
    width: auto;
}

.drawer-container {
    padding: 1rem;
    border-right: none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    .title {
        font-weight: 600;
        font-size: 24px;
    }
}