:host {
  --state-accent-pressed: #177824;
  --state-accent-hover: #1fa130;
  --text-contrast: #ffffff;
  --surface-accent: #26c93c;
  width: fit-content;

  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  ::ng-deep .sbi-button {
    &.mat-primary {
      --mdc-filled-button-container-color: var(--surface-accent);
      --mat-filled-button-ripple-color: var(--state-accent-pressed);

      &:hover {
        --mdc-filled-button-container-color: var(--state-accent-hover);
      }

      &.mat-mdc-button-disabled {
        --mdc-filled-button-disabled-label-text-color: var(--text-contrast);
        --mdc-filled-button-disabled-container-color: var(--surface-accent);
      }
    }

    .mdc-button__label:has(sbi-icon) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;

      sbi-icon {
        svg path {
          fill: var(--mdc-filled-button-label-text-color);
        }
      }
    }

    .mdc-button__label:not(:has(sbi-icon)) {
      padding: 0 8px;
    }

    .mdc-button__label:first-child:has(div) {
      &:first-child {
        padding-right: 12px;
      }
    }

    .mdc-button__label:first-child:has(div) {
      padding-right: 12px;
    }

    .mdc-button__label:last-child {
      padding-left: 2px;
    }

    &.sbi-button--small {
      padding: 8px;
    }

    &.sbi-button--large {
      padding: 16px;
    }
  }
}

.sbi-button {
  --mdc-filled-button-label-text-size: 16px;
  --mdc-filled-button-label-text-tracking: 0;

  line-height: 22px;

  &--large {
    --mdc-filled-button-container-height: 56px;
    --mdc-filled-button-container-shape: 16px;
    --mdc-filled-button-label-text-weight: 600;
  }

  &--small {
    --mdc-filled-button-container-height: 40px;
    --mdc-filled-button-container-shape: 12px;
    --mdc-filled-button-label-text-weight: 400;
  }
}
