:host {
    &, div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // Переменные для размеров иконок
    $icon-sizes: (
        12: 12px,
        16: 16px,
        24: 24px,
        32: 32px,
        48: 48px
    );
    // Переменные для цветов иконок
    $icon-colors: (
        primary: #778090,
        tertiary: #c3c5c8,
        accent: #26c93c,
        accenttint: rgba(38, 201, 60, 0.1),
        warning: #f6650a,
        error: #ed0a34,
        information: #2b7fdf,
        contrast: #ffffff
    );

    // Миксин для генерации стилей иконок
    @mixin icon-size($size) {
        width: $size;
        height: $size;
    }
    // Миксин для генерации цветов иконок
    @mixin icon-color($color) {
        ::ng-deep svg path {
          fill: $color;
        }
    }

    // Генерация классов через цикл
    @each $name, $size in $icon-sizes {
        .sbi-icon-size-#{$name}, div.sbi-icon-size-#{$name} {
            @include icon-size($size);
        }
    }

    // Генерация классов цветов через цикл
    @each $name, $color in $icon-colors {
        .sbi-icon-color-#{$name} {
            @include icon-color($color);
        }
    }
}